.bookListingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skeletonContainer {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
}

.loadingIndicator {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.noBooksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30%;
}

.noBooksContent {
  display: flex;
  align-items: center;
  gap: 30px;
}

.addABookButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  left: 30%;
}

.loggedInBookButton {
  margin: 20px 20px 0;
  position: relative;
  left: 10px;
}

.addABookButton:hover {
  background-color: #0056b3;
}

.bookCard {
  width: 300px;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.MuiSkeleton-text {
  margin-top: 10px;
}

.MuiSkeleton-text + .MuiSkeleton-text {
  width: 80%;
}

.MuiSkeleton-root {
  margin-bottom: 20px;
}

.bookCardContainer {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
}
